@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Playfair+Display:wght@400;500;600;700&&display=swap');

.nav-space {
    margin-top: 120px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

.recipe-photo {
    max-width: 100%;
    height: auto;
}

.recipe-item {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 16px;
}

.offcanvas {
    --bs-offcanvas-width: 50%;
}

.title-negative-margin {
    margin-bottom: -200px;
}

.bottom-nav {
    display: flex;
    margin: 50px 0;
    justify-content: space-between;
}
