@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&family=Playfair+Display:wght@400;500;600;700&&display=swap');

nav {
    position: sticky;
    background-color: #293462;
}

.nav-item {
    margin: 0 8px;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}

.nav-item:hover {
    color: #fff;
}

.navbar-brand img{
    width: 48px;
    height: 48x;
    margin-right: 8px;
}

#recipe-app {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: #fff;
}